extends layout 

block content
    .row 
        .col-md-3 
        .col-md-6.d-flex.flex-column.align-items-center
            h1.mb-4.mt-4 Football Matching Platform 
            .align-self-end 
                a.btn.btn-primary(href="/stadiums/save") Stadium 등록
        .col-md-3

    