extends layout 

block content
    .row 
        .col-md-3 
        .col-md-6.d-flex.flex-column.align-items-center
            h1.mb-4.mt-4 Stadium 등록
            .col-2 
            .col-8.jumbotron
                form
                    .form-group
                        label(for="name") Name
                        input#name.form-control(type="text" required name="name" placeholder="이름을 입력하세요")
                    .form-group.mt-4
                        label(for="location") Location
                        input#location.form-control(type="text" required name="location" placeholder="주소를 입력하세요")
                .mt-4
                    <a href="/" class="btn btn-secondary">취소</a>
                    <button class="btn btn-primary">등록</button>                    
            .col-2          
            
        .col-md-3